* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("truetype");
}
html {
  font-size: 62.5%;
  font-family: "helvetica", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --background-white: #fff;
  --background-black: #000;
  --background-grey: #212121;
  --background-grey-secondary: #757575;
  --background-green: #897a49;
  --background-green-secondary: #716540;
  --background-orange: #fd9e27;

  --padding: 38px;

  --h1: 4.2rem;
  --h2: 3rem;
  --p: 18px;
}

/* ----- Header ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 0px;
}
header .logo--wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
header nav{
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 40px;
  font-size: var(--p);
  color: var(--background-white);
}
header nav ul a {
  font-size: var(--p);
  color: var(--background-white);
  text-decoration: none;
  cursor: pointer;
}
header .menu--wrapper{
  place-items: center;
  width: 40px;
  height: 40px;
  display: none;
}
header .menu--wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ----- Header ----- */

/* ----- MainBanner ----- */
#MainBanner {
  width: 100%;
  height: fit-content;
  display: flex;
}
#MainBanner .mainbanner--left-container {
  width: 64%;
  height: 780px;
  background-image: url("./assets/HomeBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: flex-start;
  align-items: center;
}
#MainBanner .mainbanner--text-wrapper {
  display: flex;
  column-gap: 34px;
  margin-bottom: 160px;
}
#MainBanner .mainbanner--text-wrapper .rectangle {
  width: 120px;
  height: 120px;
  background-color: var(--background-orange);
}
#MainBanner .mainbanner--text-wrapper h1 {
  color: var(--background-white);
  font-size: var(--h1);
  font-weight: 400;
}
#MainBanner .mainbanner--text-wrapper p {
  color: var(--background-white);
  font-size: var(--p);
}
#MainBanner .mainbanner--right-container {
  width: 36%;
  height: 780px;
  background-color: var(--background-green);
  background-image: url("./assets/greenMosaic.png");
  display: grid;
  place-items: center;
}
#MainBanner .mainbanner--right-container p {
  font-size: var(--p);
  color: var(--background-white);
  max-width: 340px;
  margin-bottom: 160px;
}
/* ----- MainBanner ----- */

/* ----- ShowProducts ----- */
#ShowProducts {
  width: 100%;
  height: 726px;
  display: flex;
}
#ShowProducts .ShowProducts--left-wrapper {
  width: 20%;
  height: 100%;
  background-color: var(--background-white);
  background-image: url("./assets/ShowProductsMosaic.png");
}
#ShowProducts .ShowProducts--right-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
#ShowProducts .ShowProducts--carrousel .rectangle {
  background-color: #f5e1a4;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -70px;
  left: 0;
}
#ShowProducts .ShowProducts--carrousel {
  height: 512px;
  width: 100%;
  background-color: #716540;
  margin-top: -214px;
  position: relative;
  z-index: 123;
}
#ShowProducts .ShowProducts--Solicitar {
  display: flex;
  column-gap: 40px;
}
#ShowProducts .ShowProducts--rectanle {
  background-color: var(--background-orange);
  width: 60px;
  height: 473px;
  margin-bottom: -190px;
}
#ShowProducts .ShowProducts--right-wrapper h1 {
  font-size: var(--h1);
  font-weight: 400;
}
#ShowProducts .ShowProducts--right-wrapper .text--wrapper {
  padding-top: 68px;
}
#ShowProducts .ShowProducts--right-wrapper .callToAction {
  display: grid;
  padding-top: 68px;
  justify-items: center;
  margin-left: 20%;
  cursor: pointer;
}
/* ----- ShowProducts ----- */

/* ----- QuienesSomos ----- */
#QuienesSomos {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: var(--background-black);
  padding: 110px;
  column-gap: 140px;
}
#QuienesSomos .QuienesSomos--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#QuienesSomos .QuienesSomos--title h1 {
  color: var(--background-white);
  font-size: var(--h1);
  font-weight: 400;
}
#QuienesSomos .QuienesSomos--text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
#QuienesSomos .QuienesSomos--text p {
  color: var(--background-white);
  font-size: var(--p);
  font-weight: 400;
}
/* ----- QuienesSomos ----- */

/* ----- Marcas ----- */
#Marcas {
  height: 400px;
  position: relative;
  display: flex;
  column-gap: 70px;
  align-items: center;
  justify-content: center;
}
#Marcas h1 {
  font-size: 250px;
  font-weight: 400;
  color: #eaeaea;
  position: absolute;
  top: 0px;
  left: -16px;
  z-index: -1;
  line-height: 201px;
}
#Marcas .Marcas-swiper--wrapper {
  height: 100px;
  width: 80%;
}
#Marcas .arrow {
  cursor: pointer;
}
#Marcas .Marcas-swiper--container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----- Marcas ----- */

/* ----- Contacto ----- */
#Contacto {
  height: 600px;
  width: 100%;
  display: flex;
  position: relative;
}
#Contacto .Contacto--left {
  width: 20%;
  height: 100%;
  background-image: url("./assets/contactImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Contacto .Contacto--right {
  width: 80%;
  height: 100%;
  background-color: var(--background-green);
}
#Contacto .Contacto--wrapper {
  position: absolute;
  top: 90px;
  width: 80%;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#Contacto .Contacto--wrapper .info {
  display: grid;
  grid-template-areas:
    "header sec"
    "ter main";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
}
#Contacto .Contacto--wrapper .info .text--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 15px;
  color: var(--background-white);
  grid-area: main;
}
#Contacto .text--wrapper .text {
  height: fit-content;
  display: flex;
  column-gap: 10px;
}
#Contacto .Contacto--wrapper .info h1 {
  font-size: var(--h1);
  color: var(--background-white);
  font-weight: 400;
  grid-area: header;
}
#Contacto .Contacto--wrapper form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
#Contacto .Contacto--wrapper form input {
  height: 52px;
  background-color: var(--background-green-secondary);
  color: var(--background-green);
  border: none;
  width: 389px;
  padding-left: 24px;
}
#Contacto .Contacto--wrapper form input.email {
  height: 130px;
}
#Contacto .Contacto--wrapper form input::placeholder {
  font-size: 15px;
  font-family: "helvetica", sans-serif;
  background-color: var(--background-green-secondary);
  color: var(--background-green);
}
#Contacto .Contacto--wrapper form input:focus {
  border: none !important;
  background-color: var(--background-green-secondary);
}
#Contacto .Contacto--wrapper form input:active {
  border: none !important;
  background-color: var(--background-green-secondary);
}
#Contacto .Contacto--wrapper form button {
  width: 116px;
  font-size: 15px;
  background-color: var(--background-grey);
  color: var(--background-green);
  border: none;
  padding: 12px;
  position: absolute;
  bottom: -7%;
  right: 20px;
}
/* ----- Contacto ----- */

/* ----- Footer ----- */
footer {
  height: 270px;
  width: 100%;
  display: flex;
  position: relative;
}
footer .Footer--left {
  width: 80%;
  height: 100%;
  background-color: var(--background-black);
}
footer .Footer--right {
  width: 20%;
  height: 100%;
  background-image: url("./assets/ContactMosaic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .Footer--float {
  height: 260px;
  width: 80%;
  left: 50%;
  position: absolute;
  top: -50%;
  transform: translateX(-50%);
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
footer .Footer--float p {
  color: var(--background-white);
  font-size: 12px;
  text-align: center;
}
/* ----- Footer ----- */

/* ----- Media Queries ----- */
@media screen and (max-width: 1060px) {
  #Marcas h1 {
    font-size: calc(100px - 10%);
  }
  #Marcas .Marcas-swiper--wrapper {
    width: 65%;
  }
}
@media screen and (max-width: 925px) {
  #ShowProducts .ShowProducts--right-wrapper .callToAction {
    margin-left: 20px;
  }
  #ShowProducts .ShowProducts--rectanle {
    display: none;
  }
  #QuienesSomos {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  header .menu--wrapper{
  display: grid;
  }
  header nav{
    display: none;
  }
}
/* ----- Media Queries ----- */
