:root {
  --background-white: #fff;
  --background-black: #000;
  --background-grey: #212121;
  --background-grey-secondary: #757575;
  --background-green: #897a49;
  --background-green-secondary: #716540;
  --background-orange: #fd9e27;

  --padding: 38px;

  --h1: 4.2rem;
  --h2: 3rem;
  --p: 18px;
}

/* Products swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  width: 300px;
  height: 100%;
  transition: width 0.5s ease-in-out;
  padding: 45px 20px;
  position: relative;
  background: transparent!important;
}
.mySwiper .product-wrapper {
  color: var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  user-select: none;
}
.mySwiper .product-wrapper p {
  font-size: 12px;
}
.mySwiper .product-wrapper h1 {
  font-size: 20px !important;
}
.mySwiper .product-wrapper .button--wrapper {
  display: flex;
  column-gap: 20px;
  display: none;
}

.mySwiper .swiper-slide img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.4);
}


/* Products swiper */

/* MarcasSwiper */
.mySwiperMarcas .swiper-slide {
  width: 200px;
  height: 100%;
  background-color: transparent;
  border: 3px solid #717171 !important;
}
.mySwiperMarcas .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
/* MarcasSwiper */
